<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://challenge.threesixtygiving.org/"/>
    <meta property="og:title" content="Digging the Data | 360 Giving Data Visualisation Challenge"/>
    <meta property="og:image" content="https://challenge.threesixtygiving.org/static/images/challenge-og.jpg"/>
    <meta property="og:description" content="360Giving is inviting you to use our dataset to develop and visualise innovative solutions to two key questions facing the grantmaking sector." />

    <title></title>

    <link rel="stylesheet" href="/static/vendor/normalize.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="https://use.typekit.net/nri0jbb.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118275561-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-118275561-1');
    </script>


  </head>

  <body>
    {% block content %}{% endblock %}
    <div id="cookie-bar" style="display: none; position: fixed; bottom: 0px; background: white; text-align: center; width: 100%; padding: 15px;">
      This site uses cookies: <a style="text-decoration: underline" href="{% url 'contest_cookie_usage' %}">Find out more</a>.
      <a id="btt-ok-to-use-cookies" href="javascript:void(0)" class="button" style="margin: 0 15px;">Okay, thanks</a>
    </div>
    <script>
      (function(){
        if (document.cookie.indexOf('ok-to-use-cookies') === -1) {
          document.getElementById('cookie-bar').style.display = 'block';
        }
        document.getElementById('btt-ok-to-use-cookies').addEventListener('click', function(){
          document.cookie = 'ok-to-use-cookies=True;path=/';
          document.getElementById('cookie-bar').style.display = 'none';
        })
      })();
    </script>
  </body>
</html>
