{% extends 'contest/base.html' %}


{% block content %}
    <nav class="main-nav">
      <div><a class="" href="{% url 'contest_resources' %}">Resources</a></div>
      <div><a class="" href="{% url 'contest_faq' %}">FAQ</a></div>
      <div><a class="" href="{% url 'contest_terms_and_conditions' %}">T&C</a></div>
    </nav>

    <main>
  <section id="particles-container" class="hero">
    <div>
      <h1>Digging<br> the Data</h1>
      <h2><span>360Giving</span><br> <span>Data Visualisation</span><br> <span>Challenge</span></h2>
      <h3><span>Enter our prize challenge</span><br> <span>and your visualisation could win</span><br> <span>thousands of pounds</span></h3>
      <a class="button" href="{% url 'contest_submit' %}" onclick="window.location='{% url 'contest_submit' %}';">Submit Project</a>
    </div>
 </section>

  <section class="collapsed-section">
    <div class="collapsed-section--content main-logo-container">
      <img class="main-logo" src="/static/images/360giving-logo.png"  alt="360 Giving">
    </div>
  </section>


  <section class="intro page-section page-section--purple collapsed-section__after">
    <div class="wrapper">
      <h3 class="invitation-message"><strong>360Giving</strong> is inviting you to use our dataset to develop and visualise innovative solutions to two key questions facing the grantmaking sector.</h3>
      <p class="invitation-message">Your data visualisations must answer the following questions that were selected by an expert panel in our Quest for Questions Challenge</p>

      <div class="question call-to-action call-to-action--orange">
        <h3>Question 1</h3>
        <p>Who has funded what themes throughout the years?</p>
      </div>
      <div class="question call-to-action call-to-action--blue">
        <h3>Question 2</h3>
        <p>User-led organisations: Who funds them, in what thematic area, how much funding do they receive and what type of organisation are they (e.g. CIC, charity, co-operative, community group)?</p>
      </div>
    </div>
  </section>

  <section class="participate">
    <div class="wrapper">
      <h2>Participate</h2>
      <p class="highlight">Whether it’s an interactive web app, a graphic image, a video or another form of visualisation, we are looking for responses to these questions that excite and appeal. They will be assessed against the following criteria:</p>
      <ul>
        <li>The applicant’s ability to answer the Challenge question correctly and clearly</li>
        <li>Aesthetics and creativity</li>
        <li>How innovative it is compared to current visualisations.</li>
      </ul>
      <p>Entries must use the 360Giving dataset to answer one of the Challenge questions and you are encouraged to use other datasets alongside it. You can find a list of suggested datasets <a href="{% url 'contest_resources' %}">here</a>.</p>
      <p>All submissions will be judged by a panel made up of experts from the sector selected by 360Giving. They will award prizes of between £2,000 and £6,000 to the best three responses to the questions.</p>
      <p>In addition, each entry that meets our submission criteria will receive an award of between £100 and £500 (depending on the number of submissions and their quality).</p>
      <p>The closing date for entries is 31<sup>th</sup> July. Winners will be announced in September 2018.</p>
    </div>
  </section>

  <section id="participate-button" class="page-section  page-section--red">
    <div class="wrapper">
      <a class="button" href="{% url 'contest_submit' %}">Submit Project</a>
    </div>
  </section>

  <!-- THIS PART ONLY SHOWS IF WE HAVE PROJECTS IN THE DATABASE -->

  <!-- TODO(waltton): add projects here -->

  {% if submissions %}
    <section class="projects">
      <div class="wrapper">
        <h2>Projects</h2>
        <div class="card-container infinite-container">

          {% for submission in submissions %}
            <a href="{% url 'contest_submission' submission.id %}" class="card card--orange infinite-item" style="background-image: url('{{ submission.screenshot_link }}');">
              <div class="card__info">
                <h3>{{ submission.title }}</h3>
                <p>{{ submission.short_description }}</p>
              </div>
            </a>
          {% endfor %}

        </div>
          
        <div class="loading" style="display: none;">
          Loading...
        </div>
          
        {% if submissions.has_next %}
          <a class="infinite-more-link" href="?page={{ submissions.next_page_number }}">More</a>
        {% endif %}
      </div>
    </section>
  {% endif %}

  <script src="/static/js/vendor/sketch.min.js"></script>
  <script src="/static/js/particles.js"></script>

</main>

    <footer id="footer">
      <div class="wrapper panel-container">
        <div>
          <img src="/static/images/360giving-logo.png" alt="360Giving">
        </div>
        <p><a href="mailto:labs@threesixtygiving.org">labs@threesixtygiving.org</a> | <a href="https://twitter.com/360Giving" target="_blank">@360Giving</a></p>
      </div>
    </footer>

    <a class="by-line" href="http://ccmdesign.ca" target="_blank" title="Website designed and developed by ccm.design">by ccm.design</a>

    <script src="/static/vendor/jquery-3.3.1.min.js"></script>
    <script src="/static/vendor/jquery.waypoints.min.js"></script>
    <script src="/static/vendor/infinite.min.js"></script>
    <script src="/static/js/scripts.js"></script>

    <script>
      $(function () { 
        var infinite = new Waypoint.Infinite({
          element: $('.infinite-container')[0],
          onBeforePageLoad: function () {
            $('.infinite-more-link').hide();
            $('.loading').show();
          },
          onAfterPageLoad: function ($items) {
            $('.loading').hide();
          }
        });
      });
    </script>
{% endblock %}
