{% extends 'contest/base.html' %}


{% block content %}
    <nav class="main-nav">
      <div><a class="" href="{% url 'contest_resources' %}">Resources</a></div>
      <div><a class="" href="{% url 'contest_faq' %}">FAQ</a></div>
      <div><a class="" href="{% url 'contest_terms_and_conditions' %}">T&C</a></div>
    </nav>

    <main class="form">
  <div class="page-title">
    <div class="wrapper">
      <h1>Digging the Data</h1>
    </div>
  </div>


  <header class="form-header">
    <div class="wrapper">
      <a id="back-button" href="{% url 'contest_index' %}" class="button button--clean button--positive">
        <i class="material-icons">arrow_back</i> Back
      </a>
    </div>
  </header>

  <form method="POST" id="js-form">
    {% csrf_token %}
    <section class="project-info">
      <div class="wrapper">
        <h2>Submit Your Project</h2>
          <input type="text" placeholder="Project Title" name="project-title" required>
          <input type="text" placeholder="Short Description" name="short-description" maxlength="109" required>
          <textarea placeholder="Long Description" name="long-description" required></textarea>

          <div class="project-links">
            <input type="url" placeholder="Visualization Link" name="visualization-link" required>
            <input type="url" placeholder="Sourcecode Link" name="sourcecode-link" required>
            <input type="url" placeholder="Screenshot Link" name="screenshot-link" required>
          </div>
      </div>
    </section>
    <section class="team">
      <div class="wrapper">
        <h2>Team Info</h2>
        <div id="js-team-wrapper" class="team-wrapper">
          <div id="js-add-bttn" class="team-member team-member--add" style="cursor: pointer;">
            <i class="material-icons">add</i>
            <span>Add Team Member</span>
          </div>
        </div>
      </div>
      <div class="wrapper form-controls">
        <input type="submit" class="button" value="Sumbit Project">
      </div>
      <button type="submit" style="display: none" id="hidden-submit"></button>
    </section>
  </form>
</main>

    <div id="js-team-member-template" style="display: none">
      <div class="team-member">
        <div style="position: relative; display: __display__;">
          <a class="js-close" data-id="__index__" style="position: absolute; right: 0px;" href="javascript:void(0)">
            <i class="material-icons" data-id="__index__">close</i>
          </a>
        </div>
        <input type="text" required placeholder="Full Name" name="full-name-__index__">
        <input type="text" required placeholder="Job Title" name="job-title-__index__">
        <input type="text" required placeholder="Organization" name="organization-__index__">
        <input type="url" required placeholder="Profile Image" name="profile-image-__index__">
        <input type="url" required placeholder="Github Account" name="github-account-__index__">
      </div>
    </div>

    <script>
      (function(){
        var form = document.getElementById('js-form');
        var addBttn = document.getElementById('js-add-bttn');
        var template = document.getElementById('js-team-member-template');
        var teamWrapper = document.getElementById('js-team-wrapper');

        var index = 0;

        function close(event) {
          var i = event.target.getAttribute('data-id');
          document.getElementById('js-team-member-' + i).remove();
        }

        function addTeamMember() {
          var templateContent = template.children[0].innerHTML;
          templateContent = templateContent.replace(/__index__/g, index, -1);
          templateContent = templateContent.replace(/__display__/g, index === 0 ? 'none' : 'block', -1);

          var tmp = document.createElement('div');
          tmp.classList.add(template.children[0].classList);
          tmp.id = 'js-team-member-' + index;
          tmp.innerHTML = templateContent;

          teamWrapper.insertBefore(tmp, addBttn);

          tmp.querySelector('.js-close').addEventListener('click', close);

          index += 1;
        }

        addBttn.addEventListener('click', addTeamMember);

        addTeamMember();
      })();
    </script>

    <footer id="footer">
      <div class="wrapper panel-container">
        <div>
          <img src="/static/images/360giving-logo.png" alt="360Giving">
        </div>
        <p><a href="mailto:labs@threesixtygiving.org">labs@threesixtygiving.org</a> | <a href="https://twitter.com/360Giving" target="_blank">@360Giving</a></p>
      </div>
    </footer>

    <a class="by-line" href="http://ccmdesign.ca" target="_blank" title="Website designed and developed by ccm.design">by ccm.design</a>

    <script src="/static/vendor/jquery-3.3.1.min.js"></script>
    <script src="/static/js/scripts.js"></script>
{% endblock %}