<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>360Giving Data Visualisation Challenge - Digging the Data</title>
</head>
<body>
    <h1>360Giving Data Visualisation Challenge - Digging the Data</h1>

  <div class="user-form">
    <div>
      <strong>Name</strong> <br>
      <input type="text">
    </div>
    <div>
      <strong>Organization</strong> <br>
      <input type="text">
    </div>
    <div>
      <strong>Email</strong> <br>
      <input type="text">
    </div>
    <div>
      <strong>Github Account</strong> <br>
      <input type="text">
    </div>
    <div>
      <strong>Picture</strong> <br>
      <input type="text">
    </div>
  </div>
</body>
</html>