{% extends 'contest/base.html' %}


{% block content %}
    <nav class="main-nav">
      <div><a class="" href="{% url 'contest_resources' %}">Resources</a></div>
      <div><a class="" href="{% url 'contest_faq' %}">FAQ</a></div>
      <div><a class="" href="{% url 'contest_terms_and_conditions' %}">T&C</a></div>
    </nav>

    <main class="submission-page">
  <div class="page-title">
    <div class="wrapper">
      <h1><a href="{% url 'contest_index' %}">Digging the Data</a></h1>
    </div>
  </div>

  <header class="page-section page-section--light project-preview__anchor">
    <div class="wrapper">
      <a id="back-button" href="{% url 'contest_index' %}" class="button button--clean button--positive">
        <i class="material-icons">arrow_back</i> Back
      </a>
    </div>
    <div class="project-preview">
      <div class="project-preview__upload" style="background-image: url('{{ submission.screenshot_link }}');" alt=""></div>
    </div>
    <div class="wrapper panel-container">
      <div class="panel panel--2">
        <!-- PROJECT TITLE -->
        <h1 class="big-title">{{ submission.title }}</h1>
        <h3>360Giving Data Visualisation Challenge</h3>
        <p >
          <a class="tweet-msg" href="https://twitter.com/intent/tweet?text={{ tweet_msg }}">
            <svg role="img" viewBox="0 0 800 800" xmlns="http://www.w3.org/2000/svg"><path d="M679 239s-21 34-55 57c7 156-107 329-314 329-103 0-169-50-169-50s81 17 163-45c-83-5-103-77-103-77s23 6 50-2c-93-23-89-110-89-110s23 14 50 14c-84-65-34-148-34-148s76 107 228 116c-22-121 117-177 188-101 37-6 71-27 71-27s-12 41-49 61c30-2 63-17 63-17z"/></svg>
          </a>
          <!-- SHORT DESCRIPTION -->{{ submission.short_description }}</p>
        <div class="social-media">
          <!-- LINKS FROM SUBMISSION -->
          <a href="{{ submission.source_code_link }}" class="social-media__icon" title="Project Github" target="_blank"><i class="material-icons">code</i></a>
          <!-- LINKS FROM SUBMISSION -->
          <a href="{{ submission.visualization_link }}" class="social-media__icon social-media--website" title="Project Website" target="_blank"><i class="material-icons">link</i></a>
        </div>
      </div>
      <div class="panel"></div>
    </div>
  </header>
  <section class="page-section long-description">
    <div class="wrapper">
      <!-- LONG DESCRIPTION -->
      <p>{{ submission.long_description }}</p>
    </div>
  </section>
  <section class="page-section project-team page-section--red">
    {% for applicant in submission.applicants.all %}
      <div class="person">
        <div class="person__pic" style="background-image: url('{{ applicant.picture_link }}');"></div>
        <h2>
          <a href="{{ applicant.github_account }}" target=_blank>
            {{ applicant.full_name }}
          </a>
        </h2>
        <h3>{{ applicant.jobtitle }}</h3>
        <h4>{{ applicant.organization }}</h4>
      </div>
    {% endfor %}
  </section>
</main>


    <footer id="footer">
      <div class="wrapper panel-container">
        <div>
          <img src="/static/images/360giving-logo.png" alt="360Giving">
        </div>
        <p><a href="mailto:labs@threesixtygiving.org">labs@threesixtygiving.org</a> | <a href="https://twitter.com/360Giving" target="_blank">@360Giving</a></p>
      </div>
    </footer>

    <a class="by-line" href="http://ccmdesign.ca" target="_blank" title="Website designed and developed by ccm.design">by ccm.design</a>

    <script src="/static/vendor/jquery-3.3.1.min.js"></script>
    <script src="/static/js/scripts.js"></script>
{% endblock %}